# Version control
.git
.gitignore

# Dependencies
node_modules
.npm

# Build output
build
.svelte-kit



# Development files
*.log
.DS_Store
coverage
.vscode
.idea

# Docker
Dockerfile
.dockerignore

# Temporary files
*.tmp
*.temp 